@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* border: red 2px solid; */
}

:root {
    --ama-principal: #aba104;
    --fondo-claro: #fffdf7;
    --fondo-medioclaro:#feffea ;
    --naranja-principal: #D2691E;
    --amari-fondo: #ffefba;
    --azul-letra:#085078;
    --verde-chillon: #32CD32	;
    --verde-oscuro: #228B22
    
}

body {
    font-family: 'Press Start 2P', cursive;
    background-image: url(./img/mario.jpg);
    width: 100vh;
    max-width: 100%;
}
a {
    text-decoration: none;
}
* img {
    width: 100%;
    height: auto
}

header {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

/* logo  */

.logo {
    height: 150px; 
    width: 150px;
    padding-bottom: 13rem;
    

}
.logo img {
    border-radius: 30rem;
    border: 1px solid #666;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); }

    .logo img:hover {
        box-shadow: 2px 2px   inset;
        
        
    }
/* seccion 1 */

.debajo-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.debajo-header img {
    border-radius: 20rem;
    border: 1px solid #666;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
    
}


.imagen-contact {
    display: flex;
    align-items:center;
    justify-content: center;
   
}

.imagen-contact img {
   
    
    height: 70%;
    max-width: 30em;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7)
}

.imagen-contact img:hover {
    box-shadow: 2px 2px   inset;
}

.contact {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: var(--azul-letra);
    gap: 1rem;
    margin: 1rem  4rem 0;
    text-align: center;
    
}
.contact h2 {
    padding: 1rem;
    font-size: 2.5rem;
    color: var(--naranja-principal);
    text-shadow: 6px 3px 6px black;
    
}

.contact p {
    color:#ffffffc4;
    text-shadow: 1px 1px 1px black;
}



.btn-sabermas {
    background-color: var(--amari-fondo);
    color:var(--azul-letra);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.btn-sabermas:hover {
    background-color: #ffffffc4;
}

/* arranco seccion 2 */

.nuestras-ventajas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url(./img/pared.png);
    background-size:contain;
    /* padding: 1.2rem; */

}





.nuestras-ventajas h3 {
    color: var(--verde-chillon)			;
    text-shadow: 2px 2px 0.01px var(--verde-oscuro);
    text-align: center;
    /* font-weight:900;; */
    

}

.llevamos, .tenemos, .multijugador {
    height: 70%;
    max-width: 30em;
    box-shadow: 0 0 1rem rgba(255, 253, 253, 1)
}



.llevamos, .tenemos, .multijugador {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

}
.llevamos img {
    border-radius: 0.4rem;
    border: 1px solid #666;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    
}

.tenemos img{
    border-radius: 0.4rem;
    border: 1px solid #666;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);

    
}
.multijugador img{
    border-radius: 0.4rem;
    border: 1px solid #666;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
    
}

 /* .llevamos, .tenemos, .multijugador img {
    height: 70%;
    max-width: 40em;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7); */
}




















@media (min-width: 600px)
